[submodule "libs/get_next_line"]
	path = libs/get_next_line
	url = https://github.com/Tuncayarda/42_Get_next_line
	branch = main
[submodule "libs/libft"]
	path = libs/libft
	url = https://github.com/Tuncayarda/42_Cursus_Libft
	branch = main